/*  your css code here. If applicable */

.green{
	height: 50px;
  width: 50px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
	text-align:center;
}
.red{
	text-align:center;
	height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.yellow{
	text-align:center;
	height: 50px;
  width: 50px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}
.container{
	display:inline-block;
	background-color:gray;
	border-radius:10%;
	border:7px solid black;
	padding:10%;
}